## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,78.12,78,37,15.39,light rain
1,1,Ushuaia,AR,-54.8000,-68.3000,55.02,50,0,16.11,clear sky
2,2,Norman Wells,CA,65.2820,-126.8329,-25.56,62,75,8.05,broken clouds
3,3,Morehead,US,37.2711,-87.1764,25.11,90,100,5.99,overcast clouds
4,4,Tasiilaq,GL,65.6145,-37.6368,18.21,59,100,40.13,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 60

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ushuaia,AR,-54.8000,-68.3000,55.02,50,0,16.11,clear sky
13,13,Punta Arenas,CL,-53.1500,-70.9167,59.11,38,0,17.27,clear sky
15,15,Hobart,AU,-42.8794,147.3294,58.26,87,75,3.44,broken clouds
23,23,New Norfolk,AU,-42.7826,147.0587,57.92,76,44,1.63,scattered clouds
26,26,Codrington,AU,-38.2667,141.9667,55.29,87,95,9.26,overcast clouds
33,33,Ribeira Grande,PT,38.5167,-28.7000,59.40,77,40,12.66,scattered clouds
36,36,Mataura,NZ,-46.1927,168.8643,52.48,95,99,1.30,overcast clouds
38,38,Awjilah,LY,29.1081,21.2869,54.19,61,0,9.08,clear sky
42,42,Santiago De Chuco,PE,-8.1500,-78.1833,55.60,79,90,5.03,light rain
104,104,Pasighat,IN,28.0667,95.3333,57.65,85,100,5.55,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 1 to 678
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              62 non-null     int64
 1   City                 62 non-null     object
 2   Country              62 non-null     object
 3   Lat                  62 non-null     float64
 4   Lng                  62 non-null     float64
 5   Max Temp             62 non-null     float64
 6   Humidity             62 non-null     int64
 7   Cloudiness           62 non-null     int64
 8   Wind Speed           62 non-null     float64
 9   Current Description  62 non-null     object
dtypes: float64(4), int64(3), object(3)
memory usage: 5.3+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Ushuaia,AR,-54.8000,-68.3000,55.02,50,0,16.11,clear sky
13,13,Punta Arenas,CL,-53.1500,-70.9167,59.11,38,0,17.27,clear sky
15,15,Hobart,AU,-42.8794,147.3294,58.26,87,75,3.44,broken clouds
23,23,New Norfolk,AU,-42.7826,147.0587,57.92,76,44,1.63,scattered clouds
26,26,Codrington,AU,-38.2667,141.9667,55.29,87,95,9.26,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
625,625,Ridgecrest,US,35.6225,-117.6709,56.30,22,0,11.01,clear sky
659,659,Milos,GR,36.7500,24.4333,51.15,53,7,10.49,clear sky
665,665,Gazanjyk,TM,39.2446,55.5154,54.09,37,97,6.87,overcast clouds
671,671,Naron,ES,43.5167,-8.1528,51.91,90,98,11.90,overcast clouds
678,678,Sakakah,SA,29.9697,40.2064,50.02,45,23,8.01,few clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,55.02,clear sky,-54.8000,-68.3000,
13,Punta Arenas,CL,59.11,clear sky,-53.1500,-70.9167,
15,Hobart,AU,58.26,broken clouds,-42.8794,147.3294,
23,New Norfolk,AU,57.92,scattered clouds,-42.7826,147.0587,
26,Codrington,AU,55.29,overcast clouds,-38.2667,141.9667,
33,Ribeira Grande,PT,59.40,scattered clouds,38.5167,-28.7000,
36,Mataura,NZ,52.48,overcast clouds,-46.1927,168.8643,
38,Awjilah,LY,54.19,clear sky,29.1081,21.2869,
42,Santiago De Chuco,PE,55.60,light rain,-8.1500,-78.1833,
104,Pasighat,IN,57.65,overcast clouds,28.0667,95.3333,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Ushuaia,AR,55.02,clear sky,-54.8000,-68.3000,Albatross Hotel
13,Punta Arenas,CL,59.11,clear sky,-53.1500,-70.9167,Hotel Hain
15,Hobart,AU,58.26,broken clouds,-42.8794,147.3294,Mantra on Collins Hobart
23,New Norfolk,AU,57.92,scattered clouds,-42.7826,147.0587,The Shingles Riverside Cottages
26,Codrington,AU,55.29,overcast clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
...,...,...,...,...,...,...,...
625,Ridgecrest,US,56.30,clear sky,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest
659,Milos,GR,51.15,clear sky,36.7500,24.4333,Ξενοδοχείο Αγνάντι
665,Gazanjyk,TM,54.09,overcast clouds,39.2446,55.5154,Railway motel
671,Naron,ES,51.91,overcast clouds,43.5167,-8.1528,Marcial
678,Sakakah,SA,50.02,few clouds,29.9697,40.2064,Fakhamat Al Orjoana Apartment

In [19]:
# 8a. Create the output# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F<dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))